.box {
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}

header {
  height: 200px;
}

.contacts {
  top: 2%;
  position: relative;
  left: 5%;
  min-width: 270px;
}

#name {
  font-weight: bold;
  text-align: left;
  padding-left: 2px;
  font-size: 1.5em;
}

th {
  text-align: left;
}

a {
  color: #F08080;
  text-decoration: none;
}

#kkphoto {
  position: absolute;
  top: 0;
  right: 5%;
  max-height: 200px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.question {
    background-color: rgba(240, 128, 128, 0.5);
}

.work th {
    min-width: 80px;
}

main {
    padding: 1% 0 3% 0;
}