.box {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Niramit', "Arial", sans-serif;
}

header {
  height: 200px;
}

.contacts {
  position: relative;
  top: 2%;
  left: 5%;
  min-width: 270px;
}

#name {
  padding-left: 2px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

th {
  text-align: left;
}

a {
  color: #F08080;
  text-decoration: none;
}

#kkphoto {
  position: absolute;
  top: 0;
  right: 5%;
  border: 1px solid gray;
  box-sizing: border-box;
}

.question {
  background-color: rgba(240, 128, 128, 0.5);
}

.answer {
  font-size: 0.9em;
}

.work th {
  min-width: 90px;
}

main {
  padding: 1% 0 3% 0;
}

ol {
  padding-left: 25px; 
}

h3 {
  padding: 0 0 2px 2px;
}